n8n-aimaze-backup/I1vpPpjv3T0f0DxA.json
{
  "createdAt": "2025-01-29T16:25:00.034Z",
  "updatedAt": "2025-02-05T16:15:04.680Z",
  "id": "I1vpPpjv3T0f0DxA",
  "name": "[PIXEOMKT] - Automação de contrato",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-tally-dadoscontrato",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        0
      ],
      "id": "a1b29369-48d0-475d-8bbb-78e95b17d5be",
      "name": "Webhook",
      "webhookId": "cdd40d2d-500b-4491-9d3a-eccc14adab91"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e73cdf2-9e6d-421a-8c68-567aa2d11f8a",
              "name": "event_id",
              "value": "={{ $json.body.eventId }}",
              "type": "string"
            },
            {
              "id": "6a99d266-86a8-4a24-96e8-54ccffd270d8",
              "name": "form_name",
              "value": "={{ $json.body.data.formName }}",
              "type": "string"
            },
            {
              "id": "1dc6b543-2ea7-4c99-adbd-0b4e583e7fef",
              "name": "Nome da empresa",
              "value": "={{ $json.body.data.fields[0].value }}",
              "type": "string"
            },
            {
              "id": "020984b3-f0cb-4652-9c00-9be87993f5ce",
              "name": "CNPJ",
              "value": "={{ $json.body.data.fields[1].value }}",
              "type": "string"
            },
            {
              "id": "c4eadac9-0778-4a96-b7df-971fed328fee",
              "name": "endereço",
              "value": "={{ $json.body.data.fields[2].value }}",
              "type": "string"
            },
            {
              "id": "901b233e-3acd-4c63-9ee3-539a3442fa0c",
              "name": "CEP",
              "value": "={{ $json.body.data.fields[3].value }}",
              "type": "number"
            },
            {
              "id": "7d7e4c02-f6d5-4466-b7f6-e3ed63e40a5f",
              "name": "nome do representante legal",
              "value": "={{ $json.body.data.fields[4].value }}",
              "type": "string"
            },
            {
              "id": "f81e664b-0625-4cce-b2b6-32165f1acf79",
              "name": "CPF",
              "value": "={{ $json.body.data.fields[5].value }}",
              "type": "string"
            },
            {
              "id": "e9d0cda9-d614-41e6-9c25-7f492511a1bb",
              "name": "email_empresa",
              "value": "={{ $json.body.data.fields[6].value }}",
              "type": "string"
            },
            {
              "id": "7c5af36f-27f2-4504-be48-2074ba0499cc",
              "name": "phone_number",
              "value": "={{ $json.body.data.fields[7].value }}",
              "type": "string"
            },
            {
              "id": "f6260919-c58e-4b17-8f93-561327326045",
              "name": "Dia para vencimento ",
              "value": "={{ \n  $json.body.data.fields[8].value[0] == \"ce84d2ca-098b-4132-bfb8-cb5b272e1244\" ? \"5\" :\n  $json.body.data.fields[8].value[0] == \"b45a2986-156d-44f5-b247-74cd13d731c5\" ? \"10\" :\n  $json.body.data.fields[8].value[0] == \"601ad28c-8c5f-4f0d-bc8d-0dd2b346b33f\" ? \"15\" :\n  $json.body.data.fields[8].value[0] == \"65607589-43ae-4dee-b66b-5ded7130c12b\" ? \"20\" :\n  $json.body.data.fields[8].value[0] == \"d06868b3-5d24-4862-b988-ffc0fa73cea2\" ? \"25\" : \"\"\n}}",
              "type": "string"
            },
            {
              "id": "8e9a34f5-8d36-433a-8220-40975416653a",
              "name": "Receber boleto WhatsApp",
              "value": "={{ $json.body.data.fields[9].value[0] = '39bc9b2a-7c0c-49bd-a568-ee0eb7e1a1f2' ? 'TRUE' : ($json.body.data.fields[9].value[0] = '65d52528-0553-40b2-8aa6-622538d0a497' ? 'FALSE' : '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        0
      ],
      "id": "1220bf75-7cc5-4c82-9478-626050aa3ef1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://brasilapi.com.br/api/cnpj/v1/{{ $json.CNPJ }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        0
      ],
      "id": "aa3cd71f-a61c-47a0-a627-d7e3b21526c0",
      "name": "Get data CNPJ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5558608f-2169-4a42-9d75-fc51bdce0e2b",
              "name": "cnpj",
              "value": "={{ $json.cnpj }}",
              "type": "string"
            },
            {
              "id": "64a1f2bb-7225-4369-b3d4-7d56643ca316",
              "name": "razao_social",
              "value": "={{ $json.razao_social }}",
              "type": "string"
            },
            {
              "id": "a6301dd5-1c12-4478-a02d-486c9c2e3b27",
              "name": "natureza_juridica",
              "value": "={{ $json.natureza_juridica }}",
              "type": "string"
            },
            {
              "id": "90c016fc-90f7-42b1-9d62-94ffa7a57a44",
              "name": "descricao_situacao_cadastral",
              "value": "={{ $json.descricao_situacao_cadastral }}",
              "type": "string"
            },
            {
              "id": "eaa64633-dd37-4f08-9872-4169204ba3f0",
              "name": "porte",
              "value": "={{ $json.porte }}",
              "type": "string"
            },
            {
              "id": "7c9b293c-081b-45de-b7dc-865e5fa99a06",
              "name": "adress",
              "value": "={{ $json.descricao_tipo_de_logradouro }} {{ $json.logradouro }}, nº {{ $json.numero }}, {{ $json.bairro }},{{ $json.municipio }}/{{ $json.uf }} - CEP:{{ $json.cep }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        0
      ],
      "id": "6492491a-1a1f-468a-a1e7-2b33b6b02f6f",
      "name": "Modela dados do CNPJ"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{RAZAO_SOCIAL}}",
              "replaceText": "={{ $('Modela dados do CNPJ').item.json.razao_social }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CNPJ}}",
              "replaceText": "={{ $('Modela dados do CNPJ').item.json.cnpj }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ENDERECO}}",
              "replaceText": "={{ $('Modela dados do CNPJ').item.json.adress }}"
            },
            {
              "action": "replaceAll",
              "text": "{{EMAIL}}",
              "replaceText": "={{ $('Edit Fields').item.json.email_empresa }}"
            },
            {
              "action": "replaceAll",
              "text": "{{REP_LEGAL}}",
              "replaceText": "={{ $('Edit Fields').item.json['nome do representante legal'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CPF}}",
              "replaceText": "={{ $('Edit Fields').item.json.CPF }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1220,
        0
      ],
      "id": "b15ff79d-863f-4a54-8bbc-b7533725c51c",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "RtqF3g60M7mSBRJQ",
          "name": "[docs.google.com] - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1e6jyo5HF3wx9RVIvPYXH3vORUtdQ6zUNd3wjabjPfsU",
          "mode": "list",
          "cachedResultName": "TEMPLATE_CONTRATO_AGENCIA_MKT",
          "cachedResultUrl": "https://docs.google.com/document/d/1e6jyo5HF3wx9RVIvPYXH3vORUtdQ6zUNd3wjabjPfsU/edit?usp=drivesdk"
        },
        "name": "=Contrato - {{ $json.name }} - {{ $('Edit Fields').item.json['Dia para vencimento '] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        0
      ],
      "id": "e7b31f98-1ddc-4eb7-b228-739ff7d45bc3",
      "name": "CRIA A COPIA DO CONTRATO",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "laXO5XHdKv4Qh8Sl",
          "name": "[console.cloud.google.com] - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Edit Fields').item.json['Nome da empresa'] }} - {{ $('Edit Fields').item.json.CNPJ }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1vDQFO9nkamG4fJT5YmyF6xYlBkVU7O6n",
          "mode": "list",
          "cachedResultName": "1 - Contratos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vDQFO9nkamG4fJT5YmyF6xYlBkVU7O6n"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        0
      ],
      "id": "db366561-39b9-47eb-b899-a73e150ca84f",
      "name": "Google Drive - CREATE FOLDER",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "laXO5XHdKv4Qh8Sl",
          "name": "[console.cloud.google.com] - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "id": "9b4a5df7-bcd4-4f02-b764-2dafba3df33a",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -60,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b8dcd0e-bd56-4924-8376-87f09a63e180",
              "name": "URL Info Doc",
              "value": "",
              "type": "string"
            },
            {
              "id": "dbe2ebe1-cdc4-4abd-af3b-ab04b38976c3",
              "name": "URL Info Usuarios",
              "value": "",
              "type": "string"
            },
            {
              "id": "7b462de8-8ece-48e2-97da-d996ed681c10",
              "name": "token",
              "value": "dfcd138e4b56a395d94482d1987c978a33226259b79c2b90eab9b4cdd6487821",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "289154d3-0a64-480d-9d6d-96e2097067d3",
      "name": "Info Inicial (URL)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -660,
        460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json['URL Info Doc'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['URL Info Doc'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "300ad4c4-2e78-474e-87b3-26d60b8b0158",
      "name": "Dados Doc",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -460,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S3p5zKMZjVfI6laq",
          "name": "[sheets.google.com] - aimazemachine@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0522a61b-adf3-494c-8934-62cf8ca9acc3",
              "leftValue": "={{ $json['Id Doc'].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4fffd491-4688-4ea6-9d34-0b9853f467a0",
              "leftValue": "={{ $json['Nome Doc'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "82905929-bc83-47c1-a70a-e399f06643a7",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "619e400f-3e8f-4882-9a3f-f2081baac876",
              "leftValue": "={{ $json['Link Doc'] }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "18092e83-3c88-4f57-a3fd-708d8df3b10d",
      "name": "Filter Docs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -260,
        460
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Info Inicial (URL)').item.json['URL Info Usuarios'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Info Inicial (URL)').item.json['URL Info Usuarios'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "62db7dba-1386-4822-bdcc-55146ea27037",
      "name": "Dados Usuarios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        140,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S3p5zKMZjVfI6laq",
          "name": "[sheets.google.com] - aimazemachine@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8305d084-3a61-4f6d-bdeb-9a99636396d5",
              "leftValue": "={{ $json.Nome }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b6ff48e1-838c-4c62-98c9-8caeafc7c7d8",
              "leftValue": "={{ $('Limit').item.json['Id Doc'] }}",
              "rightValue": "={{ $json['ID Doc'] }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "f325801e-811c-45d0-af0e-fe291c46d278",
              "leftValue": "={{ $json.Satus }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "d631cb32-bbda-450e-9bd1-2e1c6e54f007",
              "leftValue": "={{ $json['Id Usuario'].toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "fad041ee-d287-4bea-9673-b28602976bc7",
      "name": "Filter Usuarios",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        340,
        460
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "53e2bea2-2b53-4f1b-81b8-b54105cf9e4b",
      "name": "Aggregate All",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        540,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $json.data;\n\nconst signers = inputData.map(item => {\n  return {\n    name: item.Nome,\n    email: item.Email,\n    action: \"SIGN\"\n  };\n});\n\nreturn [{ json: { signers } }];"
      },
      "id": "1fcae132-fa71-43e4-86aa-a178ed885622",
      "name": "Map Info Usuarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5d42820-f529-4bfe-b0a7-f5bc1b5c57a5",
              "name": "Nome do Documento",
              "value": "={{ $('Limit').item.json['Nome Doc'] }}",
              "type": "string"
            },
            {
              "id": "2bb2efc4-7ec4-47f8-a9a6-d3fefd4f06b4",
              "name": "Mensagem Quando Enviado",
              "value": "={{ $('Limit').item.json['Mensagem Quando Enviado'] }}",
              "type": "string"
            },
            {
              "id": "8aef3a6a-0fa4-425a-a2c6-6fadd783f24d",
              "name": "Assinatura em Ordem",
              "value": "={{ $('Limit').item.json['Assinatura em Ordem'] }}",
              "type": "boolean"
            },
            {
              "id": "778e0840-bb42-4871-bb3f-451621b5b12b",
              "name": "Permitir Recusa Documento",
              "value": "={{ $('Limit').item.json['Permitir Recusa Documento'] }}",
              "type": "boolean"
            },
            {
              "id": "91196ce4-cccc-49d1-823a-86a7ad194204",
              "name": "Ler Todo Documento",
              "value": "={{ $('Limit').item.json['Ler Todo Documento'] }}",
              "type": "boolean"
            },
            {
              "id": "336fd57f-a788-4b11-afdf-18409892e60e",
              "name": "Vencimento Assinatura",
              "value": "={{ $('Limit').item.json['Vencimento Assinatura'] }}",
              "type": "string"
            },
            {
              "id": "48a1602d-a706-46dc-90f6-d324bb404bf9",
              "name": "Enviar Para Assinatura",
              "value": "={{ $('Limit').item.json['Enviar Para Assinatura'] }}",
              "type": "boolean"
            },
            {
              "id": "bd46c0df-84be-45af-ae4a-a55bb4f95709",
              "name": "Receber Notificação Quando Assinado",
              "value": "={{ $('Limit').item.json['Receber Notificação Quando Assinado'] }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "03ff7a8e-ecbe-411d-8d1f-056443dc0a4f",
      "name": "Map Info Doc",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        460
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Limit').item.json['Link Doc'] }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "a77b0317-876c-47da-93c7-73862c3d7794",
      "name": "Donwload Doc (PDF)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1160,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AC1upd0oHwsg7b03",
          "name": "[console.cloud.google.com] - aimazemachine@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.autentique.com.br/v2/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Info Inicial (URL)').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "operations",
              "value": "={\n  \"query\": \"mutation CreateDocumentMutation($document: DocumentInput!, $signers: [SignerInput!]!, $file: Upload!) { createDocument(document: $document, signers: $signers, file: $file) { id name refusable sortable created_at signatures { public_id name email created_at action { name } link { short_link } user { id name email } } } }\",\n  \"variables\": {\n    \"document\": {\n      \"name\": \"{{ $('Map Info Doc').item.json['Nome do Documento'] }}\",\n      \"message\": \"{{ $('Map Info Doc').item.json['Mensagem Quando Enviado'] }}\",\n      \"reminder\": \"DAILY\",\n      \"sortable\": {{ $('Map Info Doc').item.json['Assinatura em Ordem'] }},\n      \"refusable\": {{ $('Map Info Doc').item.json['Permitir Recusa Documento'] }},\n      \"footer\": \"LEFT\",\n      \"deadline_at\": \"{{ $('Limit').item.json['Vencimento Assinatura'].isNotEmpty() == false ? \"\" : new Date($('Limit').item.json['Vencimento Assinatura']).toISOString() }}\",\n      \"new_signature_style\": true,\n      \"ignore_cpf\": false,\n      \"configs\": {\n        \"notification_finished\": {{ $('Map Info Doc').item.json['Enviar Para Assinatura'] }},\n        \"notification_signed\": {{ $('Map Info Doc').item.json['Receber Notificação Quando Assinado'] }}\n      },\n      \"locale\": {\n        \"language\": \"pt-BR\",\n        \"country\": \"BR\",\n        \"timezone\": \"America/Sao_Paulo\",\n        \"date_format\": \"DD_MM_YYYY\"\n      }\n    },\n    \"signers\": {{ $('Map Info Usuarios').item.json.signers.toJsonString() }}\n  }\n}\n"
            },
            {
              "name": "map",
              "value": "={\n  \"file\": [\"variables.file\"]\n}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "04159a77-c8d7-4931-8bb3-5e671da96515",
      "name": "Criar Doc (Autentique)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.autentique.com.br/v2/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ed6b838c8ee1ec44124b6d0fd1d8a095ffc2b8452292a809a8122cd8bbf79a4f"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "operations",
              "value": "={\n  \"query\": \"mutation CreateDocumentMutation($document: DocumentInput!, $signers: [SignerInput!]!, $file: Upload!) { createDocument(document: $document, signers: $signers, file: $file) { id name refusable sortable created_at signatures { public_id name email created_at action { name } link { short_link } user { id name email } } } }\",\n  \"variables\": {\n    \"document\": {\n      \"name\": \"Contrato empresa XPTO2\",\n      \"message\": \"Segue o Documento Para Assinatura.\",\n      \"reminder\": \"DAILY\",\n      \"sortable\": false,\n      \"refusable\": false,\n      \"footer\": \"LEFT\",\n      \"deadline_at\": \"2024-12-20T00:00:00.000Z\",\n      \"new_signature_style\": true,\n      \"ignore_cpf\": false,\n      \"configs\": {\n        \"notification_finished\": true,\n        \"notification_signed\": true\n      },\n      \"locale\": {\n        \"language\": \"pt-BR\",\n        \"country\": \"BR\",\n        \"timezone\": \"America/Sao_Paulo\",\n        \"date_format\": \"DD_MM_YYYY\"\n      }\n    },\n    \"signers\": [\n      {\n        \"name\": \"Icaro da Hora\",\n        \"email\": \"icaro@metaalvo.com\",\n        \"action\": \"SIGN\",\n        \"security_verifications\": [\n          { \"type\": \"MANUAL\" }\n        ]\n      },\n      {\n        \"name\": \"Adrielli Gomes\",\n        \"email\": \"adrielli@metaalvo.com\",\n        \"action\": \"SIGN\",\n        \"security_verifications\": [\n          { \"type\": \"MANUAL\" }\n        ]\n      }\n    ]\n  }\n}\n"
            },
            {
              "name": "map",
              "value": "={\n  \"file\": [\"variables.file\"]\n}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "05b6d357-e721-440f-a3a9-19a427fad98f",
      "name": "Criar Doc (Autentique)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        1560
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://drive.google.com/file/d/1QObZC7Huq2yugA4NIaFyjnfXK4xQa-9j/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "id": "689a6195-a7a0-432d-ab13-39e6e7e7ea11",
      "name": "Donwload Doc (PDF)1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -860,
        1560
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Info Inicial (URL)').item.json['URL Info Doc'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Info Inicial (URL)').item.json['URL Info Doc'] }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "STATUS": "CONCLUÍDO"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Id Doc",
              "displayName": "Id Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome Doc",
              "displayName": "Nome Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem Quando Enviado",
              "displayName": "Mensagem Quando Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assinatura em Ordem",
              "displayName": "Assinatura em Ordem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Permitir Recusa Documento",
              "displayName": "Permitir Recusa Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ler Todo Documento",
              "displayName": "Ler Todo Documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento Assinatura",
              "displayName": "Vencimento Assinatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviar Para Assinatura",
              "displayName": "Enviar Para Assinatura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receber Notificação Quando Assinado",
              "displayName": "Receber Notificação Quando Assinado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Doc",
              "displayName": "Link Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "ca39684a-32c3-4c27-8076-81e1a4a0eb96",
      "name": "UPDATE STATUS DOC",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1660,
        600
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Info Inicial (URL)').item.json['URL Info Usuarios'] }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Info Inicial (URL)').item.json['URL Info Usuarios'] }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Satus": "CONCLUÍDO"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Id Usuario",
              "displayName": "Id Usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID Doc",
              "displayName": "ID Doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Satus",
              "displayName": "Satus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "4f58b9db-533e-4f40-b341-02eda0b5e7eb",
      "name": "UPDATE STATUS USUARIOS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        380
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "2dffdbef-1bbc-4255-b17d-bbc6ceade897",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1860,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "934b82a9-3db2-490d-9589-93035af3ac1a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32b47cce-a4c6-41fc-bfb3-57537252b544",
              "name": "data",
              "value": "={{ $('Aggregate All').item.json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "05f74476-b12a-40db-9252-9b44aee441d2",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "23e3f232-5668-4071-86d7-d266ed890cb4",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -900,
        780
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "contacts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -280,
        780
      ],
      "id": "3090305b-6e8f-4ad6-946e-2f964a7ff7f6",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "18c16533-6e91-8094-aade-e4f0e99fc081",
          "mode": "list",
          "cachedResultName": "DB de Contratos",
          "cachedResultUrl": "https://www.notion.so/18c165336e918094aadee4f0e99fc081"
        },
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -680,
        780
      ],
      "id": "19f65e4d-1421-4d18-a21a-ac67a36505a5",
      "name": "Notion - Principal",
      "credentials": {
        "notionApi": {
          "id": "RqJiCMcIqeauBnye",
          "name": "[pixeomarketing] - notion.so/app - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        760
      ],
      "id": "08485818-4540-4cbe-96f8-3a503a450919",
      "name": "Notion - Get User",
      "credentials": {
        "notionApi": {
          "id": "RqJiCMcIqeauBnye",
          "name": "[pixeomarketing] - notion.so/app - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74049725-c542-488e-beff-f2d59bed9c5b",
              "name": "id",
              "value": "={{ $('Notion - Principal').item.json.id }}",
              "type": "string"
            },
            {
              "id": "373561cd-cb7d-4374-8f13-89c62eafc864",
              "name": "Unique_id",
              "value": "={{ $json.properties.ID.unique_id.number }}",
              "type": "number"
            },
            {
              "id": "5bafbdc1-32f3-4542-a809-0065058d5be8",
              "name": "read_doc",
              "value": "={{ $json.properties['Ler todo DOC'].checkbox }}",
              "type": "boolean"
            },
            {
              "id": "37b5c071-ad3e-48d1-ad28-f1780fb3bf03",
              "name": "recuse_doc",
              "value": "={{ $json.properties['Permitir recusa do DOC'].checkbox }}",
              "type": "boolean"
            },
            {
              "id": "2091be01-1341-4f95-9cb4-2609938affd5",
              "name": "send_message",
              "value": "={{ $json.properties['Mensagem quando enviado'].rich_text[0].plain_text }}",
              "type": "string"
            },
            {
              "id": "bc5a005c-1dbd-491a-828e-3b7ab11fc7aa",
              "name": "contacts",
              "value": "={{ $json.properties.Contatos.relation }}",
              "type": "array"
            },
            {
              "id": "7a15e3a2-1be0-4cfa-a5b4-407c3b8e9ca5",
              "name": "send_signature",
              "value": "={{ $json.properties['Enviar para assinatura'].checkbox }}",
              "type": "boolean"
            },
            {
              "id": "6ac261f6-0843-4bbc-942c-80ffd6c9901a",
              "name": "subscription_sing_date",
              "value": "={{ $json.properties['Vencimento Assinatura'].date }}",
              "type": "string"
            },
            {
              "id": "2ad1e4b1-807c-4002-bc86-05fa83fb1d66",
              "name": "doc_link",
              "value": "={{ $json.properties['Link do DOC'].rich_text[0].text.content }}",
              "type": "string"
            },
            {
              "id": "d2eb8b40-7945-4fc7-ad7c-0e9822833b93",
              "name": "signature_order",
              "value": "={{ $json.properties['Assinatura em ordem'].checkbox }}",
              "type": "boolean"
            },
            {
              "id": "3aaa3140-bdf2-4224-bd72-e96979035d64",
              "name": "notification_whatsApp",
              "value": "={{ $json.properties['Receber Notificação'].checkbox }}",
              "type": "boolean"
            },
            {
              "id": "89a21e76-14c4-40bd-b455-682d4ddd068f",
              "name": "doc_stats",
              "value": "={{ $json.properties['Status do contrato'].status.name }}",
              "type": "string"
            },
            {
              "id": "c4fafe68-6b4b-42dd-a4d4-57950d6da9fc",
              "name": "doc_name",
              "value": "={{ $json.properties['Nome do DOC'].title[0].text.content }}",
              "type": "string"
            },
            {
              "id": "5c5b877b-bc7c-4dda-a2ea-5e10e07a2d83",
              "name": "token",
              "value": "dfcd138e4b56a395d94482d1987c978a33226259b79c2b90eab9b4cdd6487821",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -460,
        780
      ],
      "id": "f80b5d6e-ffb4-4f14-96e0-70109c6732d8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1300,
        780
      ],
      "id": "9c543b2d-e168-4f1a-a5b3-8f0e9154e8fa",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8df9a87d-998b-4859-bece-2c652e05f4ea",
              "leftValue": "={{ $('Notion - Principal').first().json.properties.ID.unique_id.number.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "fdc5bdcb-f7d6-428a-a89b-7151626ada89",
              "leftValue": "={{ $('Edit Fields2').first().json.doc_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "45156bed-ecfa-44ba-945e-9cad4cf2dc04",
              "leftValue": "={{ $('Edit Fields2').first().json.doc_stats }}",
              "rightValue": "Esperando Assinatura",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "19013e66-0b6a-4aad-85bf-422610eb8adb",
              "leftValue": "={{ $('Edit Fields2').first().json.doc_link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        780
      ],
      "id": "8a112e67-54d0-452f-be08-84c6b16f8131",
      "name": "Filter Docs1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        220,
        760
      ],
      "id": "95e33ba6-b13a-462d-8f74-af8158e09ec1",
      "name": "Limit1",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        140,
        1000
      ],
      "id": "54dcaa26-886b-49ae-aca9-a682db7102b5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5571cb24-28cc-460e-87d1-483bc85bb00a",
              "leftValue": "={{ $json.user_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3b2a0dac-b214-492c-b418-d1c5d2c937ca",
              "leftValue": "={{ $('Edit Fields2').item.json.Unique_id.toString() }}",
              "rightValue": "={{ $json.doc_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ef455244-3715-47d7-8f38-e287c35f4974",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a112ff49-3658-4c7a-bb5f-f63e8b2c3a27",
              "leftValue": "={{ $json.unique_id.toString() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        760
      ],
      "id": "b42fa4b4-69f3-4a03-81d5-c5ed2435bc6c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71661148-4ce0-4f3e-8d50-61211fd1d31d",
              "name": "unique_id",
              "value": "={{ $json.properties['ID Doc'].rollup.array[0].unique_id.number }}",
              "type": "number"
            },
            {
              "id": "88c25e35-a4e4-46a2-b89f-8c4d1dd28633",
              "name": "user_name",
              "value": "={{ $json.properties.Nome.title[0].text.content }}",
              "type": "string"
            },
            {
              "id": "1ac76841-47f2-4209-a5df-4ba33a3f30f4",
              "name": "user_mail",
              "value": "={{ $json.properties.Email.email }}",
              "type": "string"
            },
            {
              "id": "134d9df8-11f7-4234-ae0f-a0d65da9c779",
              "name": "phone_number",
              "value": "={{ $json.properties.Telefone.phone_number }}",
              "type": "string"
            },
            {
              "id": "e74e52c6-f3f6-44f5-b91f-c00b9ddf4fdd",
              "name": "status",
              "value": "={{ $json.properties.Status.status.name }}",
              "type": "string"
            },
            {
              "id": "91a0b65c-c6b3-4b3f-94d3-66ae5d5c0c14",
              "name": "doc_id",
              "value": "={{ $json.properties['ID Doc'].rollup.array[0].unique_id.number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        760
      ],
      "id": "13327a6b-607b-428f-b4d2-d640fba621b1",
      "name": "User fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        0
      ],
      "id": "cba62edb-385a-422a-8a1b-bcd5e97ac5db",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "laXO5XHdKv4Qh8Sl",
          "name": "[console.cloud.google.com] - agenciapixeo@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "18c16533-6e91-8094-aade-e4f0e99fc081",
          "mode": "list",
          "cachedResultName": "DB de Contratos",
          "cachedResultUrl": "https://www.notion.so/18c165336e918094aadee4f0e99fc081"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nome do DOC|title",
              "title": "={{ $('CRIA A COPIA DO CONTRATO').item.json.name }}"
            },
            {
              "key": "Status do contrato|status",
              "statusValue": "Esperando Assinatura"
            },
            {
              "key": "Vencimento Assinatura|date",
              "includeTime": false,
              "date": "={{ new Date(new Date($('Webhook').item.json.body.createdAt).getTime() + 7 * 24 * 60 * 60 * 1000) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1660,
        0
      ],
      "id": "7c99ecab-2752-465f-b14f-fa97bf4cda60",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "RqJiCMcIqeauBnye",
          "name": "[pixeomarketing] - notion.so/app - agenciapixeo@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get data CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data CNPJ": {
      "main": [
        [
          {
            "node": "Modela dados do CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modela dados do CNPJ": {
      "main": [
        [
          {
            "node": "Google Drive - CREATE FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRIA A COPIA DO CONTRATO": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - CREATE FOLDER": {
      "main": [
        [
          {
            "node": "CRIA A COPIA DO CONTRATO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Dados Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info Inicial (URL)": {
      "main": [
        [
          {
            "node": "Dados Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Doc": {
      "main": [
        [
          {
            "node": "Filter Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Docs": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Usuarios": {
      "main": [
        [
          {
            "node": "Filter Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Usuarios": {
      "main": [
        [
          {
            "node": "Aggregate All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All": {
      "main": [
        [
          {
            "node": "Map Info Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Info Usuarios": {
      "main": [
        [
          {
            "node": "Map Info Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Info Doc": {
      "main": [
        [
          {
            "node": "Donwload Doc (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Donwload Doc (PDF)": {
      "main": [
        [
          {
            "node": "Criar Doc (Autentique)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Donwload Doc (PDF)1": {
      "main": [
        [
          {
            "node": "Criar Doc (Autentique)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Doc (Autentique)": {
      "main": [
        [
          {
            "node": "UPDATE STATUS DOC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "UPDATE STATUS USUARIOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Info Inicial (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Notion - Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Principal": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Get User": {
      "main": [
        [
          {
            "node": "User fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Docs1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Notion - Get User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "workflows.aimaze.com.br",
            "user-agent": "Tally Webhooks",
            "content-length": "2159",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "34.96.41.83",
            "x-forwarded-host": "workflows.aimaze.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-real-ip": "34.96.41.83"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "b1d1c26e-9066-400a-ac9e-79e9a0b8489a",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-01-29T16:30:50.071Z",
            "data": {
              "responseId": "4ZVvpo",
              "submissionId": "4ZVvpo",
              "respondentId": "5pboQv",
              "formId": "nGqrEO",
              "formName": "Dados de preenchimento do contrato de parceria",
              "createdAt": "2025-01-29T16:30:49.000Z",
              "fields": [
                {
                  "key": "question_WrlBPj",
                  "label": "Nome da empresa",
                  "type": "INPUT_TEXT",
                  "value": "Pixeo Marketing"
                },
                {
                  "key": "question_aeZg0v",
                  "label": "CNPJ",
                  "type": "INPUT_TEXT",
                  "value": "43512249000199"
                },
                {
                  "key": "question_Ol8Z8k",
                  "label": "Endereço completo",
                  "type": "INPUT_TEXT",
                  "value": "Rua jovina gomes de souza, 1048 cs Letícia Belo horizonte"
                },
                {
                  "key": "question_9X2Yr5",
                  "label": "CEP",
                  "type": "INPUT_NUMBER",
                  "value": 31570050
                },
                {
                  "key": "question_VjoaoN",
                  "label": "Nome do representante legal",
                  "type": "INPUT_TEXT",
                  "value": "João Reis "
                },
                {
                  "key": "question_PD8N8P",
                  "label": "CPF",
                  "type": "INPUT_TEXT",
                  "value": "11912434601"
                },
                {
                  "key": "question_E58G8A",
                  "label": "E-mail da empresa",
                  "type": "INPUT_TEXT",
                  "value": "joao@pixeo.com.br"
                },
                {
                  "key": "question_rB2Q2p",
                  "label": "Telefone",
                  "type": "INPUT_PHONE_NUMBER",
                  "value": "+5538999225622"
                },
                {
                  "key": "question_4BPYPd",
                  "label": "Dia para  Vencimento",
                  "type": "DROPDOWN",
                  "value": [
                    "b45a2986-156d-44f5-b247-74cd13d731c5"
                  ],
                  "options": [
                    {
                      "id": "ce84d2ca-098b-4132-bfb8-cb5b272e1244",
                      "text": "Dia 5"
                    },
                    {
                      "id": "b45a2986-156d-44f5-b247-74cd13d731c5",
                      "text": "Dia 10"
                    },
                    {
                      "id": "601ad28c-8c5f-4f0d-bc8d-0dd2b346b33f",
                      "text": "Dia 15"
                    },
                    {
                      "id": "65607589-43ae-4dee-b66b-5ded7130c12b",
                      "text": "Dia 20"
                    },
                    {
                      "id": "d06868b3-5d24-4862-b988-ffc0fa73cea2",
                      "text": "Dia 25"
                    }
                  ]
                },
                {
                  "key": "question_jbGrGY",
                  "label": "Gostaria de receber o boleto por WhatsApp?",
                  "type": "CHECKBOXES",
                  "value": [
                    "TRUE"
                  ],
                  "options": [
                    {
                      "id": "39bc9b2a-7c0c-49bd-a568-ee0eb7e1a1f2",
                      "text": "Sim."
                    },
                    {
                      "id": "65d52528-0553-40b2-8aa6-622538d0a497",
                      "text": "Não."
                    }
                  ]
                },
                {
                  "key": "question_jbGrGY_39bc9b2a-7c0c-49bd-a568-ee0eb7e1a1f2",
                  "label": "Gostaria de receber o boleto por WhatsApp? (Sim.)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_jbGrGY_65d52528-0553-40b2-8aa6-622538d0a497",
                  "label": "Gostaria de receber o boleto por WhatsApp? (Não.)",
                  "type": "CHECKBOXES",
                  "value": false
                }
              ]
            }
          },
          "webhookUrl": "https://webhooks.aimaze.com.br/webhook-test/formulario-tally-dadoscontrato",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "560d1477-8ae3-4657-bcd5-f92c461ec642",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-27T22:24:03.755Z",
      "updatedAt": "2025-01-27T22:24:03.755Z",
      "id": "aUI4W6RrCFkr80WF",
      "name": "pixeomkt"
    },
    {
      "createdAt": "2025-01-29T16:24:57.018Z",
      "updatedAt": "2025-01-29T16:24:57.018Z",
      "id": "yw2uzQc2gPhZxV4o",
      "name": "contrato"
    }
  ]
}