n8n-aimaze-backup/jzyv0ovoXwCA55yu.json
{
  "createdAt": "2024-12-31T22:09:58.943Z",
  "updatedAt": "2025-02-04T19:26:38.552Z",
  "id": "jzyv0ovoXwCA55yu",
  "name": "masterchat instagram",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff94bb8-6715-4a9d-b7f9-d10e902e21a3",
              "name": "meu_id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "b96aac7d-5b41-4ea4-9c65-2f08d50ffe18",
              "name": "sender_id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "6310c0da-da43-473c-abcc-2c7b63f4a418",
              "name": "recipient_id",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "0f108a78-d0f4-45cb-bf41-6c4cac92ecb9",
              "name": "message_id",
              "value": "={{ $json.body.entry[0].messaging[0].message.mid }}",
              "type": "string"
            },
            {
              "id": "038f1459-a7ac-4a63-bdc3-f0d96d0446e4",
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "390c0066-cf5c-456f-81f1-c953ff73ca49",
              "name": "type",
              "value": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
              "type": "string"
            },
            {
              "id": "db4dc4a1-9e5c-41ca-bad4-4c81a8625e33",
              "name": "link_media",
              "value": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
              "type": "string"
            },
            {
              "id": "96b7c097-0caa-4a69-85c4-018092874db3",
              "name": "type",
              "value": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
              "type": "string"
            },
            {
              "id": "835e520a-02b0-40cd-94c9-8fe767980418",
              "name": "Story_id",
              "value": "={{ $json.body.entry[0].messaging[0].message.reply_to.story.id }}",
              "type": "string"
            },
            {
              "id": "412efa51-2761-4f81-9852-15fa178237be",
              "name": "link_media_stories",
              "value": "={{ $json.body.entry[0].messaging[0].message.reply_to.story.url }}",
              "type": "string"
            },
            {
              "id": "6e2d57dd-c0e7-4b79-bd3c-32866e8250d9",
              "name": "action",
              "value": "={{ $json.body.entry[0].messaging[0].reaction.action }}",
              "type": "string"
            },
            {
              "id": "6439c935-b46d-46e9-8c10-5086d143f564",
              "name": "perfil_id",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "03003f91-b839-4777-824b-aa730deb73aa",
              "name": "username",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "0ce9d6c7-96d4-43c1-a395-cf3de8ef1fd8",
              "name": "post_id",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            },
            {
              "id": "65fd7773-0ce0-412e-9db4-6c2da2cbb3c3",
              "name": "media_product_type",
              "value": "={{ $json.body.entry[0].changes[0].value.media.media_product_type }}",
              "type": "string"
            },
            {
              "id": "0a973f97-2ef0-4a36-b580-14413a960bef",
              "name": "comment_id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "82854282-3b87-4dd2-949c-1dc1aa8b1f77",
              "name": "comment",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "41db6266-e172-4726-8837-8b6a4ff42b63",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ab64830-2c33-46b8-b5ab-b3fec5ff453a",
              "leftValue": "={{ $json.sender_id }}",
              "rightValue": "={{ $json.meu_id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "51cc8895-3089-40d6-b7aa-7b7bf330145b",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -760,
        860
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aimazei-ai",
        "options": {}
      },
      "id": "e8ac8899-4e3a-4ded-addf-3a1bbbf7935c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        860
      ],
      "webhookId": "801cd3a5-9d47-4221-b334-a8cbdff1600a"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Story_id.length }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "aed1a90c-0df2-4b08-9fbb-885d88b783fe",
                    "leftValue": "={{ $('Edit Fields').item.json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7eed5bb8-5c70-4395-86fe-612043a74037",
                    "leftValue": "={{ $json.Story_id.length }}",
                    "rightValue": "story_mention",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story_mention"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "26e40a8a-8cc6-49af-9c5e-5ace09818a2a",
                    "leftValue": "={{ $('Edit Fields').item.json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2445ba93-a8d9-4f95-82dc-e49e266f421a",
                    "leftValue": "={{ $('Edit Fields').item.json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bbec40cd-df84-40ee-a21d-8120be49ca30",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "react",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "react"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "35572ebc-0489-4bdb-b07a-33abfe5b011d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "unreact",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unreact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1868382a-f7ef-4676-86d0-a06735fdf1f1",
                    "leftValue": "={{ $('Edit Fields').item.json.type }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unsupported"
            }
          ]
        },
        "options": {}
      },
      "id": "c1221f18-dd65-4a41-831a-fc5921e92869",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -40,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.message.length }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "26e40a8a-8cc6-49af-9c5e-5ace09818a2a",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2445ba93-a8d9-4f95-82dc-e49e266f421a",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "aed1a90c-0df2-4b08-9fbb-885d88b783fe",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7eed5bb8-5c70-4395-86fe-612043a74037",
                    "leftValue": "={{ $json.Story_id.length }}",
                    "rightValue": "story_mention",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story_mention"
            }
          ]
        },
        "options": {}
      },
      "id": "d73b9f7b-433f-4fe6-9143-7237fc2300eb",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -520,
        60
      ]
    },
    {
      "parameters": {
        "path": "aimazei-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "94a86a6e-25ec-4365-ba34-1bc962359323",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1400,
        20
      ],
      "webhookId": "801cd3a5-9d47-4221-b334-a8cbdff1600a",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1180,
        20
      ],
      "id": "672c1c2e-238d-405c-8dcf-c1f027518f62",
      "name": "Respond to Webhook1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        660
      ],
      "id": "a3b02d74-1d7c-47d2-ba58-342f3f59f842",
      "name": "Adicionar um aviso para o adm"
    },
    {
      "parameters": {
        "content": "## Documentação Instagram API\n**Acessar dados do Usuário** to edit me. [Instagram User Profile API](https://developers.facebook.com/docs/instagram-platform/instagram-api-with-instagram-login/messaging-api/user-profile#webhook-notification)",
        "height": 340,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        380
      ],
      "id": "2a5773ea-202a-4b70-b788-87877c3369d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/v21.0/{{ $json.sender_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,username,profile_pic,follower_count,is_user_follow_business,is_business_follow_user "
            },
            {
              "name": "access_token",
              "value": "IGAAZAFLZCIXx0NBZAE96c0VhTE5WcGhYTXk1RVcwN3gwYmMwTUpSbUUxd3hJYnZAQd21GcXdseVhWZADlyZAmZAyVFlONURQdkl6dk85YjVYc2ZAhci1qcVNjbUZA3cUktQXl3ZAzQ0c1hyN1ZAZAdmQ0Tmx6Ry0xZAnVJa2pFaVVEc29tU2N3bwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        860
      ],
      "id": "008b49f9-e2e6-418c-a76b-8f732aa0ab56",
      "name": "GET Profile Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Webhook').item.json.body.entry[0].id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "IGAAZAFLZCIXx0NBZAE96c0VhTE5WcGhYTXk1RVcwN3gwYmMwTUpSbUUxd3hJYnZAQd21GcXdseVhWZADlyZAmZAyVFlONURQdkl6dk85YjVYc2ZAhci1qcVNjbUZA3cUktQXl3ZAzQ0c1hyN1ZAZAdmQ0Tmx6Ry0xZAnVJa2pFaVVEc29tU2N3bwZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.comment_id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Clique no botão abaixo para uma surpresa!\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://example.com/surprise\",\n            \"title\": \"Surpresa Aleatória\"\n          }\n        ]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -820,
        560
      ],
      "id": "fc56b6f1-d224-44ee-b9a1-7ef2dc0e13f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.meu_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"access_token\": \"IGAAZAFLZCIXx0NBZAE96c0VhTE5WcGhYTXk1RVcwN3gwYmMwTUpSbUUxd3hJYnZAQd21GcXdseVhWZADlyZAmZAyVFlONURQdkl6dk85YjVYc2ZAhci1qcVNjbUZA3cUktQXl3ZAzQ0c1hyN1ZAZAdmQ0Tmx6Ry0xZAnVJa2pFaVVEc29tU2N3bwZDZD\",\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Clique no botão abaixo para uma surpresa!\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://example.com/surprise\",\n            \"title\": \"Surpresa Aleatória\"\n          }\n        ]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -820,
        380
      ],
      "id": "05a98c93-62db-43fe-a0ab-552dab2639c7",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "content": "## I'm a note \nhttps://developers.facebook.com/docs/instagram-platform/instagram-api-with-instagram-login/messaging-api/button-template\n\n\n\n\nhttps://developers.facebook.com/docs/instagram-platform/instagram-api-with-instagram-login/messaging-api/private-replies\n",
        "height": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -420
      ],
      "typeVersion": 1,
      "id": "8c9b7f74-711c-4df0-8fbf-344271c04991",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e1b4d9e7-809d-4b63-967c-4c1439b48b3a",
              "leftValue": "={{ !!Object.keys($node[\"Supabase - Get User1\"].data).length }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2700,
        2440
      ],
      "id": "07ef531d-4dfe-42d5-95b6-406fc872338c",
      "name": "Verifica se o usuário existe1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "master_user",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "instagram_id",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields1').item.json.sender_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2940,
        2460
      ],
      "id": "dd99c31d-9da4-47e9-b613-6b80028e14b1",
      "name": "Supabase - Get User1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6iN72E2v7DpeAMjr",
          "name": "[chatmaze] - tools@aimaze.com.br - supabase.io"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2280,
        2440
      ],
      "id": "35d02034-a051-4436-baaa-1dadff43e0e1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "tableId": "master_user",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "instagram_id",
              "fieldValue": "={{ $('Filter1').item.json.sender_id }}"
            },
            {
              "fieldId": "User_name",
              "fieldValue": "={{ $('GET Profile Info1').item.json.name }}"
            },
            {
              "fieldId": "arroba_instagram",
              "fieldValue": "={{ $('GET Profile Info1').item.json.username }}"
            },
            {
              "fieldId": "is_following?",
              "fieldValue": "={{ $('GET Profile Info1').item.json.is_user_follow_business }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2500,
        2580
      ],
      "id": "3437b21a-2e00-4940-a76f-a6805113222f",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "6iN72E2v7DpeAMjr",
          "name": "[chatmaze] - tools@aimaze.com.br - supabase.io"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67118f58-0f7e-445e-a5e6-6ee4bfd21acf",
              "leftValue": "={{ $json.thread_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2020,
        2440
      ],
      "id": "df5462e7-886a-41d5-a325-f5c92354b247",
      "name": "Possui Thread?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2000,
        2700
      ],
      "id": "68d4f0d3-91f3-428a-9c12-40db04c775fe",
      "name": "Create Thrad ID1",
      "credentials": {
        "openAiApi": {
          "id": "VAlj1CJfZ7eyoyoK",
          "name": "[ChatMaze] - tools@aimaze.com.br"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "master_user",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2000,
        2980
      ],
      "id": "5152aff5-c074-423c-bedd-2a3fb78b3dd2",
      "name": "Update row thread_id1",
      "credentials": {
        "supabaseApi": {
          "id": "6iN72E2v7DpeAMjr",
          "name": "[chatmaze] - tools@aimaze.com.br - supabase.io"
        }
      }
    },
    {
      "parameters": {
        "content": "## Verifica e Cria a Thread \nVerifica primeiro se o usuário possui Thread. Se ele não tive thread é criado a thread\nDepois é atualizado no banco de dados",
        "height": 932,
        "width": 299,
        "color": 5
      },
      "id": "dbd6474e-ffc5-4abf-a98f-a20fb0b39a46",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2100,
        2260
      ]
    },
    {
      "parameters": {
        "content": "## Verifica cadastro de usuário\n",
        "height": 500,
        "width": 1320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3440,
        2260
      ],
      "typeVersion": 1,
      "id": "e56cbc33-69a2-4f97-8aca-17e186b90866",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Sessão de Cadastro de usuário",
        "height": 1080,
        "width": 1700,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3460,
        2140
      ],
      "typeVersion": 1,
      "id": "a541c55f-47eb-4ab1-a9f2-7ee42b507604",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        500,
        2340
      ],
      "id": "4c8b2037-8e1b-4770-8f0a-b59ddb33d940",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99667d07-ff62-4627-9136-64622c85c979",
              "name": "FinalTranscripition",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "45ce9e6b-f1d9-4505-b886-5b5cea068b48",
      "name": "Set Message from Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -660,
        2600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ae8cba9-3d8c-465b-b5b0-69493b7e4e91",
              "name": "=base64",
              "value": "={{ $('Webhook - Instagram').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f3d83144-958d-4697-97bb-746bfa6b8763",
      "name": "Image Base1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        3200
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image.png",
          "mimeType": "image/png"
        }
      },
      "id": "c7d2c451-6eed-42b3-8d74-c85a505478dc",
      "name": "Convert to File8",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -880,
        3200
      ]
    },
    {
      "parameters": {
        "content": "## Identifica e transcreve as imagens",
        "height": 227.11653913117755,
        "width": 809.4697158869521
      },
      "id": "47008181-e8a9-4632-8e88-367c2c9d98f6",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        3140
      ]
    },
    {
      "parameters": {
        "content": "## Identifica e transcreve os áudios",
        "height": 255.41432385368404,
        "width": 729.2230537404986,
        "color": 4
      },
      "id": "7a8282c2-fd4e-4117-82db-f2558a77aa3c",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        2520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99667d07-ff62-4627-9136-64622c85c979",
              "name": "FinalTranscripition",
              "value": "={{ $('Edit Fields1').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fad8aa8a-64f4-4f03-bf69-b3684b57234b",
      "name": "Set Message from image1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        2320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtendo o valor de 'content' do nó 'OpenAI7'\nconst content = $node[\"OpenAI9\"].json[\"content\"];\n\n// Obtendo o valor de 'caption' do nó 'Webhook4'\nconst caption = $node[\"Webhook - Instagram\"].json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"];\n\n// Concatenar os valores\nconst concatenatedText = content + \" \" + caption;\n\n// Retorna o texto concatenado\nreturn {\n  json: {\n    concatenatedText\n  }\n};"
      },
      "id": "ae4f8a92-4cf5-4a18-aae5-4136faa9323e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        3200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99667d07-ff62-4627-9136-64622c85c979",
              "name": "FinalTranscripition",
              "value": "={{ $json.concatenatedText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc96a0e0-8298-48b0-a767-177fb8469d1e",
      "name": "Set Message from image5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        3200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=bearer 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"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "f03f3806-fb8e-4338-9735-257924ce7724",
      "name": "GroqTranscreve",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        2920
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99667d07-ff62-4627-9136-64622c85c979",
              "name": "FinalTranscripition",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aeb2cda9-7e90-4635-8768-3f74defe5e64",
      "name": "Set Message from Audio2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        2920
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "0f33ef6e-6df8-4d73-9de6-a90e3d776c15",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -860,
        2600
      ],
      "credentials": {
        "openAiApi": {
          "id": "VAlj1CJfZ7eyoyoK",
          "name": "[ChatMaze] - tools@aimaze.com.br"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=**Prompt para Descrição Detalhada da Estética Corporal com Base em Instruções de Imagem**\n\n**Instruções Iniciais:**\nAo descrever a imagem, foque exclusivamente na pessoa retratada, ignorando quaisquer elementos de fundo, roupas, ou outros objetos. Primeiramente, utilize qualquer texto fornecido no campo entre parentese {{ $('Webhook - Instagram').item.json.body.data.message.imageMessage.caption }} para guiar sua descrição. Se o campo estiver vazio, baseie-se apenas nos detalhes visuais observados na imagem.\n\n**Detalhes a serem descritos:**\n\n1. **Pele:**\n   - **Textura:** Descreva se a pele parece suave, áspera, ou mostra irregularidades.\n   - **Cor:** Mencione se a cor da pele é uniforme ou se há presença de manchas, hiperpigmentação.\n   - **Características Notáveis:** Identifique qualquer presença de rugas, linhas de expressão, cicatrizes ou outras marcas notáveis.\n   - **Hidratação e Brilho:** Observe e relate sobre o brilho e a hidratação da pele.\n\n2. **Gordura Abdominal:**\n   - **Distribuição:** Comente sobre a distribuição da gordura na região abdominal, descrevendo se parece proeminente, volumosa ou definida.\n   - **Definição Muscular:** Mencione se há definição muscular visível ou se a mesma está coberta por gordura.\n   - **Retenção de Líquidos:** Relate qualquer sinal observável de retenção de líquidos ou inchaço.\n\n3. **Medidas Corporais:**\n   - **Proporções:** Fale sobre as proporções entre a cintura, quadris e pernas.\n   - **Contorno Corporal:** Descreva o contorno corporal, observando simetria e quaisquer desproporções notáveis.\n\n**Informação Adicional:**\n   - Sua descrição deve ser clara e focada somente na pessoa na imagem, providenciando detalhes visuais pertinentes sem inferir qualidades ou análises.\n\nso descreva a imagem nao retorne nada falando que é uma descrição faça o texto sem qualquer formatação",
        "inputType": "base64",
        "options": {}
      },
      "id": "36859a20-bb68-4e07-9bae-ce0a51964a21",
      "name": "OpenAI9",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -720,
        3200
      ],
      "credentials": {
        "openAiApi": {
          "id": "HqyrCnwePmXKkfxw",
          "name": "[main] - openia.com - tools@aimaze.com.br"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ad149bc-c41f-46bc-a641-5e96071244eb",
              "name": "base64",
              "value": "={{ $('Webhook - Instagram').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d9808d11-ae92-4894-a5a4-bf9d4982dbac",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        3520
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "={{ $('Webhook - Instagram').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage.caption }}",
          "mimeType": "application/pdf"
        }
      },
      "id": "3a188da9-2230-4f5d-848d-80a1b12d8dff",
      "name": "Convert to File5",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -840,
        3520
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "41146826-cd7c-438a-be17-dc90d1d9ed55",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -660,
        3520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b76d240-b6ff-44bd-85f1-5be645a1c877",
              "name": "FinalTranscripition",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5bf324ab-9bf3-4f2e-ab0a-3c500c5c3337",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        3520
      ]
    },
    {
      "parameters": {
        "content": "## Recebe documentos em PDF",
        "height": 255,
        "width": 756,
        "color": 6
      },
      "id": "349b8b5a-82a5-4b59-86af-22e6cc76967d",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        3440
      ]
    },
    {
      "parameters": {
        "content": "# Vision\n",
        "height": 1777,
        "width": 1577,
        "color": 5
      },
      "id": "425e33b8-9a75-4b46-ba8b-7063442a5dde",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1480,
        2120
      ]
    },
    {
      "parameters": {
        "content": "# TRANSCRIÇÃO DE AUDIO FEITA PELO GROQ",
        "height": 270,
        "width": 807,
        "color": 3
      },
      "id": "61b89025-f769-4394-bfd4-4c95e1bec29e",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1080,
        2820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13d150a0-29db-406c-a68f-68a216b20cd7",
              "leftValue": "={{ $json.FinalTranscripition }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        2600
      ],
      "id": "70308943-ab97-4f1d-9d90-df9b0aa6b96a",
      "name": "Verifica se o texto estiver vazio1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff94bb8-6715-4a9d-b7f9-d10e902e21a3",
              "name": "meu_id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "b96aac7d-5b41-4ea4-9c65-2f08d50ffe18",
              "name": "sender_id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "6310c0da-da43-473c-abcc-2c7b63f4a418",
              "name": "recipient_id",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "0f108a78-d0f4-45cb-bf41-6c4cac92ecb9",
              "name": "message_id",
              "value": "={{ $json.body.entry[0].messaging[0].message.mid }}",
              "type": "string"
            },
            {
              "id": "038f1459-a7ac-4a63-bdc3-f0d96d0446e4",
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "390c0066-cf5c-456f-81f1-c953ff73ca49",
              "name": "type",
              "value": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
              "type": "string"
            },
            {
              "id": "db4dc4a1-9e5c-41ca-bad4-4c81a8625e33",
              "name": "link_media",
              "value": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload.url }}",
              "type": "string"
            },
            {
              "id": "96b7c097-0caa-4a69-85c4-018092874db3",
              "name": "type",
              "value": "={{ $json.body.entry[0].messaging[0].message.attachments[0].type }}",
              "type": "string"
            },
            {
              "id": "835e520a-02b0-40cd-94c9-8fe767980418",
              "name": "Story_id",
              "value": "={{ $json.body.entry[0].messaging[0].message.reply_to.story.id }}",
              "type": "string"
            },
            {
              "id": "412efa51-2761-4f81-9852-15fa178237be",
              "name": "link_media_stories",
              "value": "={{ $json.body.entry[0].messaging[0].message.reply_to.story.url }}",
              "type": "string"
            },
            {
              "id": "6e2d57dd-c0e7-4b79-bd3c-32866e8250d9",
              "name": "action",
              "value": "={{ $json.body.entry[0].messaging[0].reaction.action }}",
              "type": "string"
            },
            {
              "id": "6439c935-b46d-46e9-8c10-5086d143f564",
              "name": "perfil_id",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "03003f91-b839-4777-824b-aa730deb73aa",
              "name": "username",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "0ce9d6c7-96d4-43c1-a395-cf3de8ef1fd8",
              "name": "post_id",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            },
            {
              "id": "65fd7773-0ce0-412e-9db4-6c2da2cbb3c3",
              "name": "media_product_type",
              "value": "={{ $json.body.entry[0].changes[0].value.media.media_product_type }}",
              "type": "string"
            },
            {
              "id": "0a973f97-2ef0-4a36-b580-14413a960bef",
              "name": "comment_id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "82854282-3b87-4dd2-949c-1dc1aa8b1f77",
              "name": "comment",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "763a093a-3212-4f82-9ec0-b7083abbb34d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3540,
        2460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ab64830-2c33-46b8-b5ab-b3fec5ff453a",
              "leftValue": "={{ $json.sender_id }}",
              "rightValue": "={{ $json.meu_id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0dd2e0f3-48bf-4113-a172-cbe9dfc5cbd6",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3360,
        2460
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.instagram.com/v21.0/{{ $json.sender_id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,username,profile_pic,follower_count,is_user_follow_business,is_business_follow_user "
            },
            {
              "name": "access_token",
              "value": "IGAAZAFLZCIXx0NBZAE96c0VhTE5WcGhYTXk1RVcwN3gwYmMwTUpSbUUxd3hJYnZAQd21GcXdseVhWZADlyZAmZAyVFlONURQdkl6dk85YjVYc2ZAhci1qcVNjbUZA3cUktQXl3ZAzQ0c1hyN1ZAZAdmQ0Tmx6Ry0xZAnVJa2pFaVVEc29tU2N3bwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3140,
        2460
      ],
      "id": "eca3dcc3-bf88-44ac-b622-5a24ae1f3e20",
      "name": "GET Profile Info1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields1').item.json.Story_id }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "aed1a90c-0df2-4b08-9fbb-885d88b783fe",
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7eed5bb8-5c70-4395-86fe-612043a74037",
                    "leftValue": "={{ $json.Story_id.length }}",
                    "rightValue": "story_mention",
                    "operator": {
                      "type": "number",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "story_mention"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "26e40a8a-8cc6-49af-9c5e-5ace09818a2a",
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2445ba93-a8d9-4f95-82dc-e49e266f421a",
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bbec40cd-df84-40ee-a21d-8120be49ca30",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "react",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "react"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "35572ebc-0489-4bdb-b07a-33abfe5b011d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "unreact",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unreact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1868382a-f7ef-4676-86d0-a06735fdf1f1",
                    "leftValue": "={{ $('Edit Fields1').item.json.type }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unsupported"
            }
          ]
        },
        "options": {}
      },
      "id": "cb558b5b-2f85-4056-b6d5-8b8dd6374ea6",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -1440,
        2340
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1400,
        2920
      ],
      "id": "88ab10bc-4280-4084-827b-5f25914f5ea5",
      "name": "Adicionar um aviso para o adm1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aimazei-ai",
        "options": {}
      },
      "id": "12a4ff10-b43e-4b10-ab13-9a6a173ae1b4",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3760,
        2460
      ],
      "webhookId": "801cd3a5-9d47-4221-b334-a8cbdff1600a"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields1').item.json.link_media }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        2600
      ],
      "id": "6e246c28-568d-418e-8b94-9b96faf6ec40",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields1').item.json.link_media }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        2920
      ],
      "id": "f914afb4-3400-471d-b6a6-b090c853eafa",
      "name": "HTTP Request3"
    }
  ],
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "GET Profile Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Adicionar um aviso para o adm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o usuário existe1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get User1": {
      "main": [
        [
          {
            "node": "Verifica se o usuário existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Possui Thread?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Possui Thread?1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Thrad ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Thrad ID1": {
      "main": [
        [
          {
            "node": "Update row thread_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row thread_id1": {
      "main": [
        [
          {
            "node": "Possui Thread?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message from Audio": {
      "main": [
        [
          {
            "node": "Verifica se o texto estiver vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Base1": {
      "main": [
        [
          {
            "node": "Convert to File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File8": {
      "main": [
        [
          {
            "node": "OpenAI9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message from image1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set Message from image5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message from image5": {
      "main": [
        [
          {
            "node": "Verifica se o texto estiver vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroqTranscreve": {
      "main": [
        [
          {
            "node": "Set Message from Audio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message from Audio2": {
      "main": [
        [
          {
            "node": "Verifica se o texto estiver vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Set Message from Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI9": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Convert to File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File5": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Verifica se o texto estiver vazio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o texto estiver vazio1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "GET Profile Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Profile Info1": {
      "main": [
        [
          {
            "node": "Supabase - Get User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Set Message from image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Adicionar um aviso para o adm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "GroqTranscreve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Switch": [],
    "Switch1": [
      {
        "json": {
          "meu_id": "17841469741876571",
          "sender_id": null,
          "recipient_id": null,
          "message_id": null,
          "message": null,
          "type": null,
          "link_media": null,
          "Story_id": null,
          "link_media_stories": null,
          "action": null
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhooks.aimaze.com.br",
            "user-agent": "facebookexternalua",
            "content-length": "743",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "instagram-api-version": "v21.0",
            "x-forwarded-for": "173.252.95.43",
            "x-forwarded-host": "webhooks.aimaze.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-hub-signature": "sha1=7484e5575fe28011e37781ce64a0224b0b7cb4df",
            "x-hub-signature-256": "sha256=ad7c40a09cb035fe97da22a53228b59a98c50e5cfd70cb02716c1ce42f8d7825",
            "x-real-ip": "173.252.95.43"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1737491498117,
                "id": "17841469741876571",
                "messaging": [
                  {
                    "sender": {
                      "id": "937218378456580"
                    },
                    "recipient": {
                      "id": "17841469741876571"
                    },
                    "timestamp": 1737491497882,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY5NzQxODc2NTcxOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTczMzkwMDI1OTI1OTk4MzozMjA1MTA2MDk5MTY5MzMxNjU2MTUyNTU2MzM5NDYyMTQ0MAZDZD",
                      "attachments": [
                        {
                          "type": "audio",
                          "payload": {
                            "url": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=1110691447468684&signature=Abx6wAqkFauC4sD2J_NXRM9RVRapVKArvwNooZBePXypX3mFJlxwDDoOko3NyDCLwRNCVmyrt2broa-zSF_B1ZaX9aYmZvxBn1L1ZpUZWTZ3F9Jnu8_tWgY-1_Utq_gnW_hDQ5EqSNvmFcj_DJUg-FY-NAsiTheJ7bMbcn4Xt2NVM3WBkZWD6ZbyDQtXa32FGXoLs8yWF9EXq0jjez36oaprx66CsFI"
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://webhooks.aimaze.com.br/webhook/aimazei-ai",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "webhooks.aimaze.com.br",
            "user-agent": "facebookexternalua",
            "content-length": "743",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "instagram-api-version": "v21.0",
            "x-forwarded-for": "173.252.95.43",
            "x-forwarded-host": "webhooks.aimaze.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik_traefik.1",
            "x-hub-signature": "sha1=7484e5575fe28011e37781ce64a0224b0b7cb4df",
            "x-hub-signature-256": "sha256=ad7c40a09cb035fe97da22a53228b59a98c50e5cfd70cb02716c1ce42f8d7825",
            "x-real-ip": "173.252.95.43"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "instagram",
            "entry": [
              {
                "time": 1737491498117,
                "id": "17841469741876571",
                "messaging": [
                  {
                    "sender": {
                      "id": "937218378456580"
                    },
                    "recipient": {
                      "id": "17841469741876571"
                    },
                    "timestamp": 1737491497882,
                    "message": {
                      "mid": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDY5NzQxODc2NTcxOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTczMzkwMDI1OTI1OTk4MzozMjA1MTA2MDk5MTY5MzMxNjU2MTUyNTU2MzM5NDYyMTQ0MAZDZD",
                      "attachments": [
                        {
                          "type": "audio",
                          "payload": {
                            "url": "https://lookaside.fbsbx.com/ig_messaging_cdn/?asset_id=1110691447468684&signature=Abx6wAqkFauC4sD2J_NXRM9RVRapVKArvwNooZBePXypX3mFJlxwDDoOko3NyDCLwRNCVmyrt2broa-zSF_B1ZaX9aYmZvxBn1L1ZpUZWTZ3F9Jnu8_tWgY-1_Utq_gnW_hDQ5EqSNvmFcj_DJUg-FY-NAsiTheJ7bMbcn4Xt2NVM3WBkZWD6ZbyDQtXa32FGXoLs8yWF9EXq0jjez36oaprx66CsFI"
                          }
                        }
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://webhooks.aimaze.com.br/webhook/aimazei-ai",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "1a75f67b-0267-46de-bcf7-a89a4d19c3bb",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2024-12-07T20:42:31.696Z",
      "updatedAt": "2024-12-07T20:42:31.696Z",
      "id": "87ddE3dAsl4FBatl",
      "name": "api-graph"
    }
  ]
}