n8n-aimaze-backup/wCTAWxjjQBaEHoTh.json
{
  "createdAt": "2025-01-30T17:49:16.710Z",
  "updatedAt": "2025-01-31T14:18:51.114Z",
  "id": "wCTAWxjjQBaEHoTh",
  "name": "Formulário de pergunta",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "cadastro",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -40,
        -240
      ],
      "id": "557e4ec7-83f1-4ebb-a4f1-d9b9f8ce9288",
      "name": "Webhook",
      "webhookId": "0aed7c3c-6456-4625-bbcc-29a2d7c4e102"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        -240
      ],
      "id": "9e13a52f-6ef8-403c-b063-b7eb8b63cff8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Formulário de Automação</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n        }\n\n        body {\n            min-height: 100vh;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            background: linear-gradient(45deg, #6a11cb, #2d0b3d);\n            padding: 20px;\n        }\n\n        .form-container {\n            background: rgba(0, 0, 0, 0.7);\n            padding: 40px;\n            border-radius: 20px;\n            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);\n            width: 100%;\n            max-width: 500px;\n            backdrop-filter: blur(10px);\n        }\n\n        h1 {\n            color: #fff;\n            text-align: center;\n            margin-bottom: 30px;\n            font-weight: 300;\n            letter-spacing: 1px;\n            font-size: 24px;\n        }\n\n        .form-group {\n            margin-bottom: 25px;\n        }\n\n        label {\n            display: block;\n            color: #b18cff;\n            margin-bottom: 8px;\n            font-size: 14px;\n        }\n\n        input, select {\n            width: 100%;\n            padding: 12px 15px;\n            border: 2px solid #4a2b7a;\n            border-radius: 8px;\n            background: rgba(255, 255, 255, 0.1);\n            color: #fff;\n            font-size: 16px;\n            transition: all 0.3s ease;\n            appearance: none;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            background-image: url(\"data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23b18cff'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e\");\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n            background-size: 16px;\n        }\n\n        input:focus, select:focus {\n            outline: none;\n            border-color: #8a63d2;\n            background: rgba(255, 255, 255, 0.15);\n        }\n\n        select option {\n            background: #2d0b3d;\n            color: #fff;\n        }\n\n        button {\n            width: 100%;\n            padding: 15px;\n            background: linear-gradient(45deg, #6a11cb, #4a2b7a);\n            border: none;\n            border-radius: 8px;\n            color: #fff;\n            font-size: 16px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n        }\n\n        button:hover {\n            background: linear-gradient(45deg, #7b2cff, #5d3c9e);\n            transform: translateY(-2px);\n        }\n\n        ::placeholder {\n            color: #a0a0a0;\n            opacity: 1;\n        }\n\n        .thank-you-container {\n            display: none;\n            text-align: center;\n            color: white;\n        }\n\n        .loading-bar {\n            width: 100%;\n            height: 4px;\n            background: rgba(255, 255, 255, 0.1);\n            margin-top: 20px;\n            border-radius: 2px;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .loading-progress {\n            width: 0%;\n            height: 100%;\n            background: linear-gradient(90deg, #6a11cb, #b18cff);\n            border-radius: 2px;\n            transition: width 3s ease-in-out;\n            position: relative;\n        }\n\n        .loading-progress::after {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background: repeating-linear-gradient(\n                -45deg,\n                transparent,\n                transparent 10px,\n                rgba(255, 255, 255, 0.1) 10px,\n                rgba(255, 255, 255, 0.1) 20px\n            );\n            animation: moveStripes 2s linear infinite;\n        }\n\n        @keyframes moveStripes {\n            0% {\n                background-position: 0 0;\n            }\n            100% {\n                background-position: 40px 40px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"form-container\">\n        <h1>Precisando dar um UP no seu negócio com automação?<br>Preencha e fale comigo!</h1>\n        \n        <!-- Formulário Visível Inicialmente -->\n        <form id=\"meuFormulario\">\n            <div class=\"form-group\">\n                <label for=\"nome\">Nome e Sobrenome</label>\n                <input type=\"text\" id=\"nome\" name=\"nome\" required placeholder=\"Digite seu nome completo\">\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"empresa\">Nome da Empresa</label>\n                <input type=\"text\" id=\"empresa\" name=\"empresa\" required placeholder=\"Digite o nome da empresa\">\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"email\">E-mail</label>\n                <input type=\"email\" id=\"email\" name=\"email\" required placeholder=\"seuemail@exemplo.com\">\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"telefone\">Telefone</label>\n                <input type=\"tel\" id=\"telefone\" name=\"telefone\" required placeholder=\"(XX) XXXXX-XXXX\" pattern=\"\\([0-9]{2}\\) [0-9]{4,5}-[0-9]{4}\">\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"funcionarios\">Quantidade de Funcionários</label>\n                <select id=\"funcionarios\" name=\"funcionarios\" required>\n                    <option value=\"\" disabled selected>Selecione</option>\n                    <option value=\"1-10\">1 - 10</option>\n                    <option value=\"11-20\">11 - 20</option>\n                    <option value=\"21-50\">21 - 50</option>\n                    <option value=\"51-100\">51 - 100</option>\n                    <option value=\"101+\">101+</option>\n                </select>\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"faturamento\">Faturamento Mensal</label>\n                <select id=\"faturamento\" name=\"faturamento\" required>\n                    <option value=\"\" disabled selected>Selecione</option>\n                    <option value=\"10-15k\">R$ 10.000 - R$ 15.000</option>\n                    <option value=\"15-25k\">R$ 15.000 - R$ 25.000</option>\n                    <option value=\"25-50k\">R$ 25.000 - R$ 50.000</option>\n                    <option value=\"50-100k\">R$ 50.000 - R$ 100.000</option>\n                    <option value=\"100-250k\">R$ 100.000 - R$ 250.000</option>\n                    <option value=\"250-500k\">R$ 250.000 - R$ 500.000</option>\n                    <option value=\"500k+\">Acima de R$ 500.000</option>\n                </select>\n            </div>\n\n            <button type=\"submit\">Enviar Cadastro</button>\n        </form>\n\n        <!-- Mensagem de Agradecimento (Oculta Inicialmente) -->\n        <div class=\"thank-you-container\">\n            <h2>Muito obrigado por preencher o formulário!</h2>\n            <p>Em breve entrarei em contato com você.</p>\n            <div class=\"loading-bar\">\n                <div class=\"loading-progress\"></div>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        const formulario = document.getElementById('meuFormulario');\n        const thankYouContainer = document.querySelector('.thank-you-container');\n\n        formulario.addEventListener('submit', async (e) => {\n            e.preventDefault();\n            \n            // Coleta os dados do formulário\n            const dados = {\n                nome: formulario.nome.value,\n                empresa: formulario.empresa.value,\n                email: formulario.email.value,\n                telefone: formulario.telefone.value,\n                funcionarios: formulario.funcionarios.value,\n                faturamento: formulario.faturamento.value\n            };\n\n            try {\n                // Envia via POST para o novo webhook\n                const response = await fetch('https://webhooks.aimaze.com.br/webhook/obrigado', {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json'\n                    },\n                    body: JSON.stringify(dados)\n                });\n\n                if (response.ok) {\n                    // Mostra mensagem de sucesso\n                    formulario.style.display = 'none';\n                    thankYouContainer.style.display = 'block';\n                    document.querySelector('.loading-progress').style.width = '100%';\n                    \n                    // Debug: Mostra a resposta do servidor\n                    const resposta = await response.json();\n                    console.log('Resposta do servidor:', resposta);\n                } else {\n                    alert('Erro no envio. Tente novamente.');\n                }\n                \n            } catch (error) {\n                console.error('Erro:', error);\n                alert('Falha na conexão. Verifique sua internet.');\n            }\n        });\n\n        // Máscara de telefone\n        const telefone = document.getElementById('telefone');\n        telefone.addEventListener('input', function(e) {\n            let value = e.target.value.replace(/\\D/g, '');\n            if (value.length > 11) value = value.slice(0, 11);\n            \n            value = value.replace(/^(\\d{2})(\\d)/g, \"($1) $2\");\n            value = value.replace(/(\\d)(\\d{4})$/, \"$1-$2\");\n            e.target.value = value;\n        });\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        140,
        -240
      ],
      "id": "353ac544-42bb-4477-8833-ede3c6a51b56",
      "name": "HTML"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74828bda-ba58-421c-9c03-1a597f26d632",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2024-11-20T21:22:28.345Z",
      "updatedAt": "2024-11-20T21:22:28.345Z",
      "id": "7F9yOqhoeiiO1xNv",
      "name": "produção"
    },
    {
      "createdAt": "2025-01-29T16:24:57.018Z",
      "updatedAt": "2025-01-29T16:24:57.018Z",
      "id": "yw2uzQc2gPhZxV4o",
      "name": "contrato"
    }
  ]
}